<mat-form-field>
  <input matInput (keyup)="this.applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="this.dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"><span class="pointer" (click)="this.triggerSelectUser(row)">{{row.tableId}}</span> </td>
    </ng-container>

     <!-- ID Column -->
     <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef class="avatar-cell"> Avatar </th>
      <td mat-cell *matCellDef="let row"><span class="pointer" (click)="this.triggerSelectUser(row)"><img [src]="row.avatar" class="avatar-img"></span></td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let row">
        <span class="pointer" (click)="this.triggerSelectUser(row)">{{row.username}}</span>
        <i class="material-icons admin-icon" title="Admin" *ngIf="row.roles.includes('Admin')">verified_user</i>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"><span class="pointer" (click)="this.triggerSelectUser(row)">{{row.email}}</span></td>
    </ng-container>

    <!-- Color Column -->
    <!-- <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let row"> <button mat-button (click)="this.triggerSelectUser(row)">Details</button> </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 40, 80]"></mat-paginator>
</div>
