.all-users-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 5px;
  padding: 10px 10px;
}

.avatar-img {
  width: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.avatar-cell {
  width: 10%;
}

table {
  width: 100%;
  padding-bottom: 15px;
  background-color:  rgba(16, 53, 43);
}
mat-paginator {
  background-color:  rgba(16, 53, 43);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.admin-icon {
  font-size: 20px;
  vertical-align: sub;
}
td, th {
  color: #e8e4c9;
  font-weight: 500;
}
.pointer {
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mat-cell{
    font-size: 12px;
  }
  th {
    padding: 5px 0px;
  }
  th.mat-header-cell {
    padding: 7px;
  }
  .admin-icon {
    font-size: 15px;
    vertical-align: sub;
  }
}