.review-counts {
    display: flex;
    height: 24px;
}
app-votes {
    display: flex;
}
mat-card-title > span > i {
    font-size: 17px;
    color: black;
    text-shadow: 0px 0px 6px #FFFFFF;
}
mat-card-header {
    width: 100%;
}
::ng-deep #mat-card {
    box-shadow: none;
    background-color: #e8e4c9!important;
    /* border-bottom-style: outset; */
    color: rgba(16, 53, 43);
    margin-bottom: 15px;
}
mat-card-subtitle {
    color: rgba(16, 53, 43);
}
.delimeter {
    text-align: center;
}
.delimeter i {
    font-size: 10px;
    color:white;
}
#mat-card {
    background: inherit;
}
::ng-deep .mat-card-header-text{
    margin: 0px;
}
.disabled {
    background-color: red;
}
#edit,#delete {
    font-size: 12px;
    cursor: pointer;
}

#delete i>i {
    font-size: 14px;
}
#delete:hover {
    color: red;
}
#edit i{
    font-size: 12px;
    margin-left: 10px;
}
#edit:hover {
    color: #bfa10a;
}
.yellow {
    color: #bfa10a;
}