<div>
    <mat-card id="mat-card">
        <mat-card-header>
            <mat-card-title>{{this.review.user.username}}
                <span *ngIf="this.review.user.roles.includes('Admin')">
                    <i class="material-icons" title="Admin">
                        verified_user
                    </i>
                </span>
            </mat-card-title>
            <mat-card-subtitle><i>{{this.review.date}}</i></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{this.review.text}}
        </mat-card-content>
        <div class="review-counts">
            <app-votes
                [user]="this.user"
                [voteUpCount]="this.review.voteUpCount"
                [voteDownCount]="this.review.voteDownCount"
                (newVoteEvent)="vote($event)"
                [usersWithUpVote]="this.review.usersWithUpVote"
                [usersWithDownVote]="this.review.usersWithDownVote"
            ></app-votes>
            <app-flags
                [flagsCount]="this.review.flagsCount"
                (newFlagEvent)="flag($event)"
            ></app-flags>
        </div>
        <br>
        <div *ngIf="!this.review.isDeleted">
                <span id="delete" *ngIf="this.canEdit"  (click)="deleteReview()">
                        <i>
                            <i class="material-icons" >remove_circle</i> Delete
                        </i>
                    </span>
                    <span id="edit" *ngIf="this.canEdit" (click)="toggleEditMenu()" [class.yellow]="this.isEditMenuOpen">
                        <i>
                            <i class="material-icons">edit</i>
                            Edit
                        </i>
                    </span>
        </div>
        <app-update-review *ngIf="this.isEditMenuOpen" [reviewTextToUpdate]="this.review.text"
            (closedMenu)="toggleEditMenu($event)" (newTextEvent)="updateReview($event)"></app-update-review>
    </mat-card>
</div>
