h4 {
    font-weight: 500;
}
form {
    margin-bottom: 15px;
}
#create-review-form {
    text-align: center;
}
#create-review-btn {
    background-color: white;
    color: black;
}

.disabled {
    background-color: rgb(255, 255, 255, 0.3)!important;
    cursor: default!important;
    pointer-events: none!important;
}