<form class="update-review-form"  [formGroup]="updateReviewForm" (ngSubmit)="updateReview()">
    <mat-form-field>
        <textarea matInput formControlName="text"></textarea>
        <mat-error *ngIf="updateReviewForm.controls.text?.errors?.required">This field is required!</mat-error>
        <mat-error *ngIf="updateReviewForm.controls.text?.errors?.minlength">The review should be at least 5 symbols long!</mat-error>
        <mat-error *ngIf="updateReviewForm.controls.text?.errors?.maxlength">The review should be less than 500 symbols long!</mat-error>
    </mat-form-field>
    <br>
    <button id="update-review-btn" mat-raised-button color="primary" type="submit" [class.disabled]="!updateReviewForm.valid">Update</button>
</form>