.create-book-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-book-card {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.create-inputs-container,
.create-inputs-container mat-form-field,
.create-inputs-container mat-form-field .create-input {
  width: 100%;
}
