<div class="create-book-container">
    <mat-card class="create-book-card">
      <mat-card-header>
        <mat-card-title>Create Book</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="this.createForm">
          <table cellspacing="0" class="create-inputs-container">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Title" name="name" required class="create-input"
                    formControlName="name">

                  <mat-error *ngIf="!!this.createForm.controls.name.errors?.required">
                    The title is required!
                  </mat-error>
                  <mat-error *ngIf="!!this.createForm.controls.name.errors?.minlength">
                    The title must be at least 2 symbols long!
                  </mat-error>
                  <mat-error *ngIf="!!this.createForm.controls.name.errors?.maxlength">
                    The title must be shorter that 20 symbols!
                  </mat-error>


                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Author" name="author" required class="create-input"
                    formControlName="author">

                  <mat-error *ngIf="!!this.createForm.controls.author.errors?.required">
                    The author is required!
                  </mat-error>
                  <mat-error *ngIf="!!this.createForm.controls.author.errors?.minlength">
                      The author must be at least 2 symbols long!
                    </mat-error>
                    <mat-error *ngIf="!!this.createForm.controls.author.errors?.maxlength">
                      The author must be shorter that 20 symbols!
                    </mat-error>

                </mat-form-field>
              </td>
            </tr>
            <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Text" name="text" required class="create-input"
                      formControlName="text">

                    <mat-error *ngIf="!!this.createForm.controls.text.errors?.required">
                      The text is required!
                    </mat-error>
                    <mat-error *ngIf="!!this.createForm.controls.text.errors?.minlength">
                        The text must be at least 1 symbols long!
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
          </table>

          <br />

        </form>

        <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="profile-container">
                  <div class="profile-wrapper">

                    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                    <input hidden #fileInput type="file">
                  </div>
                </div>


                  <div class="form-group">
                    <button mat-raised-button color="primary" type="submit" [disabled]="this.createForm.invalid" (click)="this.createBook(fileInput.files[0], this.createForm.value)">Create</button>
                  </div>
              </div>
          </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
