.star {
  color: gold;
  margin-top: -3px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.shadow {
  text-shadow: 0.5px 0.5px 1px #000000;
}
.info {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: pre;
}
#book-actions button {
  background-color: rgba(16, 53, 43);
}
#book-container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 25px;
}
#book-image {
  width: 100%;
  display: block;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
#book-info {
  background-color: #e8e4c9;
  padding: 10px;
  color: rgba(16, 53, 43);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
#book-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #book-container {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 25px;
  }
  #book-image {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  #book-info {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  #book-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    flex-direction: column;
  }
  #book-actions button {
    margin-top: 5px;
  }
}

