<div *ngIf="this.book">
  <div id="book-container">
    <div>
      <img id="book-image"
        [src]="this.book.bookImgUrl ? this.bookImageSrcPrefix + this.book.bookImgUrl : this.defaultBookImagePath"
        alt="Photo of a Shiba Inu">
    </div>
    <div id="book-info">
      <h1>{{this.book.name}}</h1>
      <h3><i>{{this.book.author}}</i></h3>
      <p><i>{{this.book.text}}</i></p>
      <ngbd-star-rating [book]="book" (rateEventEmitter)="rateBook($event)"></ngbd-star-rating>
      <div *ngIf="book.borrowed === false">
        <p class="info">
          Rating
          <span *ngIf="book.bookRating">{{book.bookRating}}</span>
          <span *ngIf="!book.bookRating">{{0}}</span>
          <i class="material-icons star shadow">
            star
          </i>
          Availability
          <i class="material-icons green shadow">
            check_circle_outline
          </i>
        </p>
      </div>
      <div *ngIf="book.borrowed === true">
        <p class="info">
          Rating
          <span *ngIf="book.bookRating">{{book.bookRating}}</span>
          <span *ngIf="!book.bookRating">{{0}}</span>
          <i class="material-icons star shadow">
            star
          </i>
          Availability
          <i class="material-icons red shadow">
            highlight_off
          </i>
        </p>
      </div>
      <div id="book-actions">
        <button mat-raised-button (click)="getBookReviews()">
          <i class="material-icons">comment
          </i> Reviews</button>
        <button mat-raised-button *ngIf="!book.borrowed && !book.unlisted && !book.isDeleted" (click)="borrow()">
          <i class="material-icons">
            add_circle
          </i> Borrow
        </button>
        <button mat-raised-button *ngIf="book.borrowed && !book.isDeleted" (click)="return()">
            <i class="material-icons">
                remove_circle_outline
            </i> Return
          </button>
        <button mat-raised-button *ngIf="loggedUser.roles.includes('Admin') && !book.unlisted && !book.isDeleted" (click)="unlist()">
          <i class="material-icons">
            remove_circle_outline
          </i> Unlist
        </button>
        <button mat-raised-button *ngIf="loggedUser.roles.includes('Admin') && book.unlisted && !book.isDeleted" (click)="list()">
            <i class="material-icons">
                add_circle
            </i> List
          </button>
        <button mat-raised-button *ngIf="loggedUser.roles.includes('Admin') && !book.isDeleted" (click)="deleteBook()">
          <i class="material-icons">
            delete
          </i> Delete
        </button>
      </div>
    </div>
  </div>
  <app-all-reviews *ngIf="this.withReviews" [bookId]="this.book.id"></app-all-reviews>
</div>
