<div class="best-book-item">
    <img [src]="this.book.bookImgUrl ? this.bookImageSrcPrefix + this.book.bookImgUrl : this.defaultBookImagePath">
    <!-- <img [src]="this.getUrl()"> -->
    <h4>{{this.book.name}}</h4>
    <span>Rating: {{this.book.bookRating}}</span>
</div>
