<div class="edit-password-component">
  <form [formGroup]="editPasswordForm">
    <mat-form-field>
      <input formControlName="currPassword" type="password" matInput placeholder="Current password">
      <mat-error *ngIf="editPasswordForm.controls.currPassword?.errors?.required">
        Currrent password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="newPassword" type="password" matInput placeholder="New password">
      <mat-error *ngIf="editPasswordForm.controls.newPassword?.errors?.required">
          New password is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="confirmPassword" type="password" matInput placeholder="Confirm password">
      <mat-error *ngIf="editPasswordForm.controls.confirmPassword?.errors?.required">
          Confirm password is required!
      </mat-error>
      <mat-error *ngIf="editPasswordForm.controls.confirmPassword?.errors?.matchingPasswords">
          Passwords does not match!
      </mat-error>
      <div></div>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="this.changePass()" [disabled]="!editPasswordForm.valid">Change password</button>

  </form>
</div>
