.all-books-container {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% ; 
  column-gap: 15px;
  row-gap: 15px;
  overflow: hidden;
  margin-top: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .all-books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all-books-container > app-book-info {
    margin-bottom: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .all-books-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 10px;
    row-gap: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .all-books-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 10px;
    row-gap: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .all-books-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 10px;
    row-gap: 15px;
  }
}
