<div class="user-profile-container">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar><img mat-card-avatar class="example-header-avatar" [src]="user.avatar"></div>
            <mat-card-title>{{ user.username }}<i *ngIf="this.mainRole === 'Admin'" class="material-icons" title="Admin">verified_user</i></mat-card-title>
            <mat-card-subtitle>{{ user.gamingp }} {{ user.level }}</mat-card-subtitle>
            <mat-card-subtitle>{{ user.karmap }} {{ user.rating }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Email: {{ user.email }}</p>
          </mat-card-content>
          <mat-card-actions>

            <ng-template [ngIf]="loggedUser.id === user.id">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" >
                  <button mat-menu-item [routerLink]="['/users', user.id, 'edit-info']">
                    <span>Edit info</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/users', user.id , 'edit-password']">
                    <span>Change password</span>
                  </button>
                  <button mat-menu-item (click)="this.deleteMyAcc()">
                    <span>Delete my account</span>
                  </button>
                </mat-menu>
            </ng-template>
            <ng-template [ngIf]="loggedUser.roles.includes('Admin') && loggedUser.id !== user.id">
              <button (click)="this.banUser()" *ngIf="!this.user.banned; else unban">Ban</button>
              <ng-template #unban>
                <button mat-raised-button (click)="this.unbanUser()">Unban</button>
              </ng-template>
              <button *ngIf="!this.user.roles.includes('Admin'); else notUserAnymore" (click)="giveAdminPriviledges()">Make Admin</button>
              <ng-template #notUserAnymore>
                <button mat-raised-button (click)="this.fireAdmin()">Fire admin!</button>
              </ng-template>
            </ng-template>

          </mat-card-actions>

          <mat-expansion-panel *ngIf="!this.user.banned">
            <mat-expansion-panel-header>
              Reading now
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
              <app-user-reading-now [user]="this.user"></app-user-reading-now>
            </ng-template>
          </mat-expansion-panel>

    </mat-card>
</div>
