mat-card {
  background-color: #e8e4c9;
  color: rgba(16, 53, 43);
}
mat-expansion-panel {
  background-color: rgba(16, 53, 43);
  color: #e8e4c9;
}
mat-card-subtitle {
  color: rgba(16, 53, 43);
}
mat-menu button {
  background-color: red!important;
}