div > span > i {
    font-size: 19px;
    vertical-align: middle;
    cursor: pointer;
}
div {
    margin-right: 15px;
    font-size: 19px;
    padding: 2px;
}
.active-up{
    color: green;
    text-shadow: 0.5px 0.5px 1px #000000;
}
.active-down{
    color: red;
    text-shadow: 0.5px 0.5px 1px #000000;
}
#up-container:hover {
    color: green;
    text-shadow: 0.5px 0.5px 1px #000000;
}
#down-container:hover {
    color: red;
    text-shadow: 0.5px 0.5px 1px #000000;
}