<div id="up-container">
    <span (click)="vote('Up')" [class.active-up]="this.curVote === 'Up'">
        <i class="material-icons" title="Up">
            thumb_up
        </i>
    </span>
    <span title="Up">
        {{this.voteUpCount}}
    </span>
</div>
<div id="down-container">
    <span (click)="vote('Down')" [class.active-down]="this.curVote === 'Down'">
        <i class="material-icons" title="Down">
            thumb_down
        </i>
    </span>
    <span title="Down">
        {{this.voteDownCount}}
    </span>
</div>