
<mat-tab-group class="login-form" mat-align-tabs="center" headerPosition="below">

  <mat-tab label="Login">
      <ng-template matTabContent>
        <app-login></app-login>
      </ng-template>
  </mat-tab>

  <mat-tab label="Register">
      <ng-template matTabContent>
        <app-register></app-register>
      </ng-template>
    </mat-tab>
</mat-tab-group>
