<div class="edit-user-component">
  <form [formGroup]="this.editUserForm">
      <mat-form-field>
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput type="text">
          <mat-error *ngIf="editUserForm.controls.username?.errors?.required">
            Username is required!
          </mat-error>
          <mat-error *ngIf="editUserForm.controls.username?.errors?.minlength">
            Username should be at least 6 characters long.
          </mat-error>
          <mat-error *ngIf="editUserForm.controls.username?.errors?.uniqueUsername">
            Sorry, this username has already been taken!
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="email">
          <mat-error *ngIf="editUserForm.controls.email?.errors?.required">
            Email is required!
          </mat-error>
          <mat-error *ngIf="editUserForm.controls.email?.errors?.pattern && editUserForm.controls.email?.touched">
              Email is not valid!
            </mat-error>
          <mat-error *ngIf="editUserForm.controls.email?.errors?.uniqueEmail && editUserForm.controls.email?.status === 'INVALID'">
              Sorry, this email has already been taken!
            </mat-error>
      </mat-form-field>
      <br>
    <button mat-raised-button color="primary" (click)="editUser()" [disabled]="!editUserForm.valid">Save</button>

  </form>
</div>
