header {
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
    
}
.header-menu {
    text-align: right;
}
.header-logo {
    color:white;
    text-shadow: 2px 2px 4px #000000;
}
#brand {
    font-size: 32px;
    font-weight: bold;
    font-family: inherit;
}
#moto {
    font-weight: 500;
    font-family: inherit;
}