<header>
    <div class="header-logo" (click)="redirectToSlash()" style="cursor: pointer;">
        <!-- <img src="./../../../assets/mia-lib.png" alt="MIA LIB"> -->
        <span id="brand">LIBRARY</span>
        <br>
        <span id="moto">More than books</span>
    </div>
    <div class="header-menu" style="text-align: right;">
        <app-navigation></app-navigation>
    </div>
    
</header>
