#flags-menu-container {
    display: inline-flex;
    flex-direction: row;
}
#flags-menu {
    align-items: center; 
    border-radius: 10px;
    margin-left: 10px;
    outline: none;
    width: 40px;
}
#check-circle {
    margin: 0 5px;
}
i {
    cursor: pointer;
}
#cancel {
    color: red;
}
#check {
    color: green;
}
#cancel:hover, #check:hover {
    text-shadow: 0.5px 0.5px 1px #000000;
}
select {
    font-size: 14px;
}