<div id="flags-menu-container">
    <select id="flags-menu" [(ngModel)]="selectedOption">
        <option selected disabled hidden>Flag type</option>
        <option  *ngFor="let o of options">{{o.name}}</option>
    </select>
    <i class="material-icons" id="check" (click)="flag()">check_circle</i>
    <i class="material-icons" id="cancel" (click)="this.closeMenu()">cancel</i>
</div>