.rating {
  display: flex;
  transform: rotateY(180deg);
  margin-left: -200px;
};
/*
.rating input {
  display: none;
} */

.rating label {
  display: block;
  cursor: pointer;
  width: 50px;
  /* background: #ccc; */
}

.rating label::before {
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 25px;
  color: #101010;
}

.rating label::after {
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 25px;
  color: rgb(255, 217, 0);
  margin-top: -25px;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label::after,
.rating input:checked ~ label::after
{
  opacity: 1;
}
