<div class="rating">
  <input type="radio" name="star" id="star1" style="display: none" (click)="emitRate(5)"><label for="star1"></label>
  <input type="radio" name="star" id="star2" style="display: none" (click)="emitRate(4)"><label for="star2"></label>
  <input type="radio" name="star" id="star3" style="display: none"(click)="emitRate(3)"><label for="star3"></label>
  <input type="radio" name="star" id="star4" style="display: none"(click)="emitRate(2)"><label for="star4"></label>
  <input type="radio" name="star" id="star5" style="display: none"(click)="emitRate(1)"><label for="star5"></label>
</div>
