<div>
    <span *ngIf="!this.createFlag">
        <i class="material-icons" [class.flag-menu-active]="this.createFlag" title="Flags" (click)="this.showCreateFlag()">
            flag
        </i>
    </span>
    <span  *ngIf="!this.createFlag">
        {{this.flagsCount}}
    </span>
    <app-create-flag 
        *ngIf="this.createFlag"
        (closedMenu)="showCreateFlag($event)"
        (newFlagEvent)="flag($event)"
    ></app-create-flag>
</div>