div > span > i {
    font-size: 19px;
    vertical-align: middle;
    cursor: pointer;
}
div > span > i:hover {
    color: black;
}
div {
    margin-right: 15px;
    font-size: 19px;
    padding: 2px;
}
.flag-menu-active {
    color: green;
    text-shadow: 0.5px 0.5px 1px #000000;
}
