<nav>
    <ng-template [ngIf]="this.isLoggedIn">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon style="color: rgba(46, 138, 113);">menu_book</mat-icon>
        </button>
    </ng-template>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="myProfile()">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item (click)="allBooks()">
            <mat-icon>menu_book</mat-icon>
            <span>All Books</span>
        </button>
        <button mat-menu-item (click)="createBook()" *ngIf="this.user && this.user.roles.includes('Admin')">
            <mat-icon>add_box</mat-icon>
            <span>Create Book</span>
        </button>
        <button mat-menu-item (click)="allUsers()" *ngIf="this.user && this.user.roles.includes('Admin')">
            <mat-icon>supervisor_account</mat-icon>
            <span>All users</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>directions_run</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</nav>
