#best-book-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  column-gap: 20px;
  text-align: center;
  margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #best-book-container {
        display: grid;
        grid-template-columns: auto;
        row-gap: 25px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #best-book-container {
        display: grid;
        grid-template-columns: auto;
        row-gap: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #best-book-container {
        display: grid;
        grid-template-columns: 50%;
        row-gap: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #best-book-container {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        justify-content: center;
        column-gap: 25px;
    }
}
