mat-card {
  background-color: #e8e4c9;
  border: 5px solid #e8e4c9;
  color: rgba(16, 53, 43);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)!important;
  cursor: pointer;
}
mat-card-subtitle {
  margin-top: 5px;
  font-size: 12px;
  font-style: italic;
}
mat-card-content{
  font-weight: 500;
}
::ng-deep .mat-card-header-text {
  margin: 0px!important;
}
::ng-deep .mat-card-image {
  margin: 0px!important;
  width: 100%!important;
}
p {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: pre;
  color: rgba(16, 53, 43);
}
.info { 
  margin-bottom: 0px;
  justify-content: space-between;
}
.rate {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.rate p {
  margin: 0px;
}

.star {
  color: gold;
  margin-top: -3px;
}
.red {
  color: red;
}

.green {
  color: green;
}

.book-info {
  color: rgba(16, 53, 43);
}

.shadow {
  text-shadow: 0.5px 0.5px 1px #000000;
}

.mat-card-subtitle {
  color:  rgba(16, 53, 43);
}

mat-card-actions button {
  background-color: rgba(16, 53, 43);
}
