<!-- <div id="card" style="width: 300px; height: 400px;">
  <div id="card-header">
    <h2>{{this.book.name}}</h2>
    <h5>
      <i>{{this.book.author}}</i>
    </h5>
  </div>
  <div id="card-image">
      <img
      [src]="this.book.bookImgUrl ? this.bookImageSrcPrefix + this.book.bookImgUrl : this.defaultBookImagePath"
      alt="Photo of a Shiba Inu">
  </div>
  <div id="card-content">
      <div *ngIf="book.borrowed === false">
          <p>The book is avaible
            <i class="material-icons green shadow">
              check_circle_outline
            </i>
          </p>
        </div>
        <div *ngIf="book.borrowed === true">
          <p>The book is not avaible
            <i class="material-icons red shadow">
              highlight_off
            </i>
          </p>
        </div>
        <div class="rate">
          <p>Rating:
            <span *ngIf="book.bookRating">{{book.bookRating}}</span>
            <span *ngIf="!book.bookRating">{{0}}</span>
            <i class="material-icons gold shadow">
              star
            </i>
          </p>
        </div>
  </div>
  <div id="card-action">
      <button mat-raised-button  (click)="this.onClickInfo(book)">View Info</button>
      <button mat-raised-button  (click)="this.deleteBook()" *ngIf="!book.isDeleted">
        <i class="material-icons">
          delete_forever
        </i>
      </button>
  </div>
</div> -->


<mat-card style="width: 190px;" (click)="this.onClickInfo(book)">
  <mat-card-header>
    <mat-card-title>{{this.book.name}}</mat-card-title>
    <mat-card-subtitle>{{this.book.author}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    [src]="this.book.bookImgUrl ? this.bookImageSrcPrefix + this.book.bookImgUrl : this.defaultBookImagePath"
    alt="Photo of a Shiba Inu">
  <mat-card-content>

    <div *ngIf="book.borrowed === false">
      <p class="info">
        Rating
        <span *ngIf="book.bookRating">{{book.bookRating}}</span>
        <span *ngIf="!book.bookRating">{{0}}</span>
        <i class="material-icons star shadow">
          star
        </i>
        Availability
        <i class="material-icons green shadow">
          check_circle_outline
        </i>
      </p>
    </div>
    <div *ngIf="book.borrowed === true">
      <p class="info">
        Rating
        <span *ngIf="book.bookRating">{{book.bookRating}}</span>
        <span *ngIf="!book.bookRating">{{0}}</span>
        <i class="material-icons star shadow">
          star
        </i>  
        Availability
        <i class="material-icons red shadow">
          highlight_off
        </i>
      </p>
    </div>
    <!-- <div class="rate">
      <p>Rating
        <span *ngIf="book.bookRating">{{book.bookRating}}</span>
        <span *ngIf="!book.bookRating">{{0}}</span>
        <i class="material-icons gold shadow">
          star
        </i>
      </p>
    </div> -->
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-raised-button (click)="this.onClickInfo(book)">View Info</button>
    <button mat-raised-button (click)="this.deleteBook()" *ngIf="!book.isDeleted">
      <i class="material-icons">
        delete_forever
      </i>
    </button>
  </mat-card-actions> -->
</mat-card>

<!-- <div class="book-info-container">
  <img [src]="this.book.bookImgUrl ? this.bookImageSrcPrefix + this.book.bookImgUrl : this.defaultBookImagePath">
  <div class="book-info">
    <mat-card-title>{{book.name}}</mat-card-title>
    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    <mat-card-content>
      <div class="avaible">
        <div *ngIf="book.borrowed === false">
          <p>The book is avaible!
            <i class="material-icons green">
              check_circle_outline
            </i>
          </p>
        </div>
        <div *ngIf="book.borrowed === true">
          <p>The book is not avaible!:
            <i class="material-icons red">
              highlight_off
            </i>
          </p>
        </div>
      </div>
      <div class="rate">
        <p>Rating:
          <i class="material-icons gold">
            star
          </i>
          <span *ngIf="book.bookRating">{{book.bookRating}}</span>
          <span *ngIf="!book.bookRating">{{0}}</span>
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [color]="'primary'" (click)="this.onClickInfo(book)">View Info</button>
    </mat-card-actions>
    <button mat-raised-button [color]="'primary'" (click)="this.deleteBook()" *ngIf="!book.isDeleted">
      <i class="material-icons">
        delete_forever
      </i>
    </button>
  </div>
</div> -->