<footer style="padding: 15px;">
    <div style="display: flex; justify-content: center;margin-top: 5px;margin-bottom: 10px;" class="social-media-container">
        <a href="http://facebook.com" target="_blank">
            <img src="./../../../assets/facebook.png" alt="">
        </a>
        <a href="http://instagram.com"  target="_blank">
            <img style="margin-left: 10px;" src="./../../../assets/instagram.png" alt="">
        </a>
    </div>
    <p style="text-align: center; color:white;">@ All rights reserved. 2019</p>
</footer>
