@import '~@angular/material/theming';
@import '~css-star-rating/scss/star-rating';

$color-negative-rating: #0f0 !default;
$color-ok-rating: #f00 !default;
$color-positive-rating: #00f !default;
$color-default-rating: #ff0 !default;
@import "~angular-star-rating/assets/scss/star-rating";

.rating.color-negative .star-container .star {
  svg {
    fill: #0f0;
  }
  i {
    color: #0f0;
  }
}

.rating.color-ok .star-container .star {
  svg {
    fill: #f00;
  }
  i {
    color: #f00;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: #00f;
  }
  i {
    color: #00f;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #ff0;
  }
  i {
    color: #ff0;
  }
}

@include mat-core();

$app-primary: mat-palette($mat-green);
$app-accent:  mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);

