/* You can add global styles to this file, and also import other style files */


html {
    position: relative;
    min-height: 100%;
}
html, body { }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 15px;
    background: rgb(8,106,37);
    background: linear-gradient(90deg, rgba(8,106,37,1) 0%, rgba(16,53,43,1) 100%);
    color: white;
    margin-bottom: 130px;

}
