<h3>Are you sure you want to discard the changes?</h3>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary"
            (click)="stay()">
        Cancel
    </button>

    <button class="mat-raised-button"
            (click)="accept()">
        Yes
    </button>
</mat-dialog-actions>
